<ion-view view-title="Job List" hide-back-button="true">
  <ion-content class="padding-top">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <a href="#/allruglist" class="button button-full button-positive">
      All Rugs
    </a>
    <form novalidate name="addJobForm" ng-submit="addJobForm.$valid && addJob(job)">
      <div class="list">
        <label class="item item-input item-floating-label"
               ng-class="{ 'has-error-lr' : addJobForm.id.$invalid && addJobForm.$submitted }">
          <span class="input-label">Job #</span>
          <input name="id" type="text" ng-model="job.id" placeholder="Job Number"
                 ng-minlength="3"
                 ng-maxlength="6"
                 required>
        </label>
        <div class="form-errors" ng-messages="addJobForm.id.$error" ng-if="addJobForm.$submitted">
          <div class="form-error" ng-message="required">This field is required.</div>
          <div class="form-error" ng-message="minlength">This field is must be at least 5 characters.</div>
          <div class="form-error" ng-message="maxlength">This field is must be 5 characters.</div>
        </div>
      </div>
      <div class="padding-top">
        <input type="submit" class="button button-block button-positive" value="Add Job">
        <p class="text-center padding-top">
      </div>
    </form>

    <ion-list>
      <!--<ion-item ng-repeat="job in rugList">-->
      <ion-item ng-repeat="item in jobList"
                class="item-thumbnail-left" href="#/ruglist/?id={{item.orderNumber}}&customer={{item.accountName}}">
        <h2>{{item.accountName}}</h2>
        <h2>{{item.createdOn.substring(0,10)}}</h2>
        <a href="tel:+1{item.phone}}">{{item.phone}}</a>
        <!--<img ng-src="{{item.img}}">

        <!--<p>{{item.description}}</p>-->
        <!--<ion-option-button class="button-positive"-->
        <!--ng-click="share(item)">-->
        <!--Share-->
        <!--</ion-option-button>-->
        <!--<ion-option-button class="button-info"-->
        <!--ng-click="edit(item)">-->
        <!--Edit-->
        <!--</ion-option-button>-->
        <!--<ion-delete-button class="ion-minus-circled"-->
        <!--ng-click="items.splice($index, 1)">-->
        <!--</ion-delete-button>-->
        <!--<ion-reorder-button class="ion-navicon"-->
        <!--on-reorder="reorderItem(item, $fromIndex, $toIndex)">-->
        <!--</ion-reorder-button>-->

      </ion-item>
      <!--</ion-item>-->
    </ion-list>
    <button ng-click="logOut()" class="button button-clear button-positive">Logout</button>

    <button class="button button-icon icon ion-camera" ng-click="upload()"></button>

    <div class="row" ng-repeat="image in images" ng-if="$index % 4 === 0">
      <div class="col col-25" ng-if="$index < images.length">
        <img ng-src="data:image/jpeg;base64,{{images[$index].image}}" width="100%"/>
      </div>
      <div class="col col-25" ng-if="$index + 1 < images.length">
        <img ng-src="data:image/jpeg;base64,{{images[$index + 1].image}}" width="100%"/>
      </div>
      <div class="col col-25" ng-if="$index + 2 < images.length">
        <img ng-src="data:image/jpeg;base64,{{images[$index + 2].image}}" width="100%"/>
      </div>
      <div class="col col-25" ng-if="$index + 3 < images.length">
        <img ng-src="data:image/jpeg;base64,{{images[$index + 3].image}}" width="100%"/>
      </div>
    </div>
  </ion-content>
</ion-view>
