<ion-view view-title="Edit/Add Rug forxx  {{customer}}" hide-back-button="true">

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-camera" ng-click="upload()"></button>
  </ion-nav-buttons>
  <!--<div class="row" ng-repeat="image in images" ng-if="$index % 4 === 0">-->
  <!--<div class="col col-25" ng-if="$index < images.length">-->
  <!--<img ng-src="data:image/jpeg;base64,{{images[$index].image}}" width="100%" />-->
  <!--</div>-->
  <!--<div class="col col-25" ng-if="$index + 1 < images.length">-->
  <!--<img ng-src="data:image/jpeg;base64,{{images[$index + 1].image}}" width="100%" />-->
  <!--</div>-->
  <!--<div class="col col-25" ng-if="$index + 2 < images.length">-->
  <!--<img ng-src="data:image/jpeg;base64,{{images[$index + 2].image}}" width="100%" />-->
  <!--</div>-->
  <!--<div class="col col-25" ng-if="$index + 3 < images.length">-->
  <!--<img ng-src="data:image/jpeg;base64,{{images[$index + 3].image}}" width="100%" />-->
  <!--</div>-->
  <!--</div>-->
  <ion-content class="padding-top">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <!-- TODO put basic stuff in dropdown? -->
    <form novalidate name="addRugForm" ng-submit="addRugForm.$valid && addRug(rug)">
      <div class="list">
        <div ng-show="!isNewRug">

          <label class="input-label"
                 ng-class="{ 'has-error-lr' : addRugForm.status.$invalid && addRugForm.$submitted }">
            <span class="item-stacked-label">Rug Status</span>

            <!-- <span class="input-label">Status</span> -->
            <select name="singleSelect" ng-model="rug.status">
              <option value="NotStarted">NotStarted</option>
              <option value="NotStarted">Started</option>
              <option value="Cleaned">Cleaned</option>
              <option value="FailedInspection">FailedInspection</option>
              <option value="PassedInspection">PassedInspection</option>
              <option value="ReCleaned">ReCleaned</option>
            </select>
          </label>
        </div>
        <div ng-if="rug.status == 'PassedInspection'">
          <span class="input-label">Initials</span>
          <input name="initials" type="text" ng-model="rug.initials" placeholder=""
          >
        </div>
        <label class="item-stacked-label"
               ng-class="{ 'has-error-lr' : addRugForm.description.$invalid && addRugForm.$submitted }">
          <span class="input-label">Description</span>

          <input name="description" type="text" ng-model="rug.description" placeholder="{{rug.description}}"
                 required>
        </label>
        <div class="form-errors" ng-messages="addRugForm.description.$error" ng-if="addRugForm.$submitted">
          <div class="form-error" ng-message="required">This field is required.</div>
        </div>
        <label class="item-stacked-label"
               ng-class="{ 'has-error-lr' : addRugForm.length.$invalid && addRugForm.$submitted }">
          <span class="input-label">Length</span>

          <input name="length" type="number" ng-model="rug.length" placeholder="{{rug.length}}"
                 required>

        </label>
        <div class="form-errors" ng-messages="addRugForm.length.$error" ng-if="addRugForm.$submitted">
          <div class="form-error" ng-message="required">This field is required.</div>
        </div>
        <label class="item-stacked-label"
               ng-class="{ 'has-error-lr' : addRugForm.width.$invalid && addRugForm.$submitted }">
          <span class="input-label">Width</span>
          <input name="width" type="number" ng-model="rug.width" placeholder="{{rug.width}}"
                 required>
        </label>
        <div class="form-errors" ng-messages="addRugForm.width.$error" ng-if="addRugForm.$submitted">
          <div class="form-error" ng-message="required">This field is required.</div>
        </div>

        <label class="item-stacked-label">

          <span class="input-label">Inspection Photos {{rug.photosTaken}}</span>
          <ion-radio name="photosTaken" ng-model="rug.photosTaken" ng-value="'false'">No</ion-radio>
          <ion-radio name="photosTaken" ng-model="rug.photosTaken" ng-value="'true'">Yes</ion-radio>

        </label>

        <label class="item-stacked-label"
               ng-class="{ 'has-error-lr' : addRugForm.preDamage.$invalid && addRugForm.$submitted }">
          <span class="input-label">Damaged Areas or Special Instructions</span>

          <input name="preDamage" type="text" ng-model="rug.preDamage" placeholder="{{rug.preDamage}}">
        </label>
        <!--<div class="form-errors" ng-messages="addRugForm.preDamage.$error" ng-if="addRugForm.$submitted">-->
        <!--&lt;!&ndash;<div class="form-error" ng-message="required">This field is required.</div>&ndash;&gt;-->
        <!--</div>-->
        <label class="item-stacked-label">

          <span class="input-label">Urine in rug? {{rug.urine}}</span>
          <ion-radio name="urine" ng-model="rug.urine" ng-value="'false'">No</ion-radio>
          <ion-radio name="urine" ng-model="rug.urine" ng-value="'true'">Yes</ion-radio>
        </label>
        <label class="item-stacked-label">
          <span class="input-label">Due Date</span>
          <input name="dueDate" type="date" ng-model="rug.dueDate" ng-value="rug.dueDate">
        </label>
        <div class="form-errors" ng-messages="addRugForm.dueDate.$error" ng-if="addRugForm.$submitted">
          <div class="form-error" ng-message="required">This field is required.</div>
        </div>
        <div ng-show="newRug">

          <span class="input-label">Discussion with customer</span>

          <label class="item item-input item-floating-label"
                 ng-class="{ 'has-error-lr' : addRugForm.contact.$invalid && addRugForm.$submitted }">
            <input name="contact" type="text" ng-model="rug.contact" placeholder="Contact stuff" value="Contact Stuff"
            >
          </label>
        </div>


        <!--<input ng-click="getPhoto()" class="button button-block button-positive" value="Take Photo">-->

      </div>
      <div class="padding-top">
        <div ng-if="newRug">
          <input type="submit" class="button button-block button-positive" value="Add">
        </div>
        <div ng-if="!newRug">
          <input type="submit" class="button button-block button-positive" value="Edit">
        </div>

      </div>
    </form>

    <img id="profileImage0" src="profileImage0" style="max-width:200px; max-height:200px;">
    <img id="profileImage1" src="profileImage1" style="max-width:200px; max-height:200px;">
    <img id="profileImage2" src="profileImage2" style="max-width:200px; max-height:200px;">
    <input type="file" accept="image/*" capture="camera" id="file-upload"> </div>
    <div ng-if="!newRug">
      <input ng-click="showDiscussionsChange()" class="button button-block button-positive" value="Discussions">

      <div ng-if="showDiscussions">

        <!--<input class="item item-input item-floating-label" name="discussion" type="text" ng-model="discussion.value">-->
        <label class="item item-input item-floating-label"
               ng-class="{ 'has-error-lr' : addRugForm.description.$invalid && addRugForm.$submitted }">
          <input name="discussion" type="text" ng-change="valueEnteredChanged()" ng-model="discussion"
                 required>
        </label>
        <button ng-click="addDiscussion(discussion)" class="button button-block button-positive" value="Add Discussion">
          Add
        </button>
        <ion-list>
          <ion-item ng-repeat="item in contactList"
                    class="item-thumbnail-left">
            <h2>{{item.value}}</h2>
            <p>{{item.person}}</p>
            <p>{{item.time}}</p>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div ng-if="!newRug">
      <input ng-click="showAuditsChange()" class="button button-block button-positive" value="Audits">
      <div ng-if="showAudits">
        <ion-list>
          <ion-item ng-repeat="item in auditList"
                    class="item-thumbnail-left">
            <!--TODO make false and trues to yes and nos -->
            <h2>Status: {{item.status}}</h2>
            <p>Description: {{item.description}}</p>
            <p>Photos Taken: {{item.photosTaken}}</p>
            <p>Pre-Damage: {{item.preDamage}}</p>
            <p>Urine: {{item.urine}}</p>
            <p>Due Date: {{item.dueDate}}</p>
            <p ng-if="item.discussion">User added discussion {{item.discussionValue}}</p>
            <p>Updated by: {{item.person}}</p>
            <p>Time: {{item.time}}</p>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div ng-if="!newRug">
      <input ng-click="deleteRug(rug)" class="button button-block button-positive" value="Remove">

    </div>


    <a href="#/ruglist/?id={{rug.orderNumber}}&customer={{customer}}" class="button button-full button-positive">
      Back
    </a>
  </ion-content>
</ion-view>
