<ion-view view-title="{{customer}} Work order: {{jobID}}" hide-back-button="true">
  <ion-content class="padding-top">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <!--<a href="#/allruglist" class="button button-full button-positive">-->
      <!--All Rugs-->
    <!--</a>-->
    <ion-list>
      <!--TODO will ahve to be changed to thumbnail-left when we get pics -->
      <a ng-repeat="item in rugList"
         class="item item-icon-left item-icon-right"
         href="#/rugedit/?id={{item.key}}&jobID={{item.orderNumber}}&customer={{customer}}">

        <i class="icon ion-image"></i>
        <h2>{{item.status}}</h2>

        <h2 ng-if="item.dueIn < 10 && item.status != 'PassedInspection' " style="color:red"><b>Due in {{item.dueIn}}
          days.</b></h2>
        <h2 ng-if="item.dueIn <= 15 && item.dueIn >= 10 && item.status != 'PassedInspection' " style="color:orange"><b>Due
          in {{item.dueIn}} days.</b></h2>
        <h2 ng-if="item.dueIn > 15 && item.status != 'PassedInspection' " style="color:green"><b>Due in {{item.dueIn}}
          days.</b></h2>

        <p>{{item.description}}</p>
        <p>{{item.preDamage}}</p>
        <p ng-if="item.urine == 'true'"><b>has urine</b> {{item.length}}x{{item.width}} In: {{item.createdOn}}</p>
        <p ng-if="item.urine == 'false'"><b>no urine</b> {{item.length}}x{{item.width}} In : {{item.createdOn}}</p>
      </a>

    </ion-list>

    <input ng-click="showDiscussionsChange()" class="button button-block button-positive" value="Discussions">

    <div ng-if="showDiscussions">

      <!--<input class="item item-input item-floating-label" name="discussion" type="text" ng-model="discussion.value">-->
      <label class="item item-input item-floating-label"
             ng-class="{ 'has-error-lr' : addRugForm.description.$invalid && addRugForm.$submitted }">
        <input name="discussion" type="text" ng-change="valueEnteredChanged()" ng-model="discussion"
               required>
      </label>
      <button ng-click="addDiscussion(discussion)" class="button button-block button-positive" value="Add Discussion">
        Add
      </button>
      <ion-list>
        <ion-item ng-repeat="item in contactList"
                  class="item-thumbnail-left">
          <h2>{{item.value}}</h2>
          <p>{{item.person}}</p>
          <p>{{item.time}}</p>
        </ion-item>
      </ion-list>
    </div>
    <div ng-if="rugCount < 1">
      <input ng-click="deleteJob(job)" class="button button-block button-positive" value="Remove Job">
    </div>
    <div ng-if="!notAllPassed">
      <input ng-click="showDeliveryFormChange()" class="button button-block button-positive" value="Set Delivery">
    </div>
    <div ng-if="showDeliveryForm">
        <form novalidate name="setDeliveryDateForm" ng-submit="setDeliveryDateForm.$valid && setDeliveryDate(deliveryObject)">
          <div class="list">

            <label class="item-stacked-label">
              <span class="input-label">Delivery Date</span>
              <input name="deliveryDate" type="date" ng-model="deliveryObject.deliveryDate" ng-value="deliveryObject.deliveryDate">
            </label>
            <div class="form-errors" ng-messages="setDeliveryDateForm.dueDate.$error"
                 ng-if="setDeliveryDateForm.$submitted">
              <div class="form-error" ng-message="required">This field is required.</div>
            </div>

            <span class="input-label">Delivery Notes</span>
            <label class="item item-input item-floating-label"
                   ng-class="{ 'has-error-lr' : setDeliveryDateForm.contact.$invalid && setDeliveryDateForm.$submitted }">
              <input name="deliveryNotes" type="text" ng-model="deliveryObject.deliveryNotes" placeholder="Delivery Notes"
                     value="Delivery Notes"
              >
            </label>


          </div>
          <div class="padding-top">

            <input type="submit" class="button button-block button-positive" value="Set Date & Close out Job">
          </div>

      </form>
    </div>
    <a href="#/home" class="button button-full button-positive">
      Back
    </a>
    <button ng-click="logOut()" class="button button-clear button-positive">Logout</button>

  </ion-content>
</ion-view>
