<ion-view view-title="Rug List for {{customer}}" hide-back-button="true">
  <ion-content class="padding-top">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <!--<ion-item ng-repeat="job in jobList">-->
      <ion-item ng-repeat="item in rugList"
                class="item-thumbnail-left" href="#/rugedit/?id={{item.key}}&jobID={{item.orderNumber}}&customer={{customer}}">
        <h2>{{item.description}}</h2>
        <p>{{item.status}}</p>
        <p>Length: {{item.length}} Width: {{item.width}} Urine: {{item.urine}}</p>
        <p>Start Date: {{item.createdOn}} Days in System: {{item.elapsedTime}}</p>
        <div ng-if="item.elapsedTime > 17">

      </ion-item>
    </ion-list>
    <a href="#/rugedit/?id=newrug&jobID={{jobID}}&customer={{customer}}" class="button button-full button-positive">
      Add Rug
    </a>
    <div ng-if="rugCount < 1">
      <input ng-click="deleteJob(job)" class="button button-block button-positive" value="Remove Job">
    </div>
    <a href="#/home" class="button button-full button-positive">
      Back
    </a>
    <button ng-click="logOut()" class="button button-clear button-positive">Logout</button>

  </ion-content>
</ion-view>
