<ion-view view-title="Rug List" hide-back-button="true">
  <ion-nav-buttons side="primary">
    <!--<a class="button button-outline icon-right ion-navicon button-balanced">Reorder</a>-->
    <select class="button button-outline icon-right ion-navicon button-balanced" ng-model="sortType"
            ng-change="sortList(sortType)">
      <option selected>By Due Date</option>
      <option>Customer</option>
      <option>Urine</option>
      <option>Status</option>
    </select>
  </ion-nav-buttons>
  <ion-content class="padding-top">

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <a href="#/home" class="button button-full button-positive">
      Job List
    </a>
    <ion-list show-reorder="shouldShowReorder">

      <a ng-repeat="item in rugList"
         class="item item-icon-left item-icon-right"
         href="#/rugedit/?id={{item.key}}&jobID={{item.orderNumber}}&customer={{customer}}">
        <i class="icon ion-image"></i>
        <h2>{{item.customer}}</h2>{{item.key}}{{item.completed}}
        <h2>{{item.status}}</h2>

        <!--// passed inspection but no deliver set in next 3 days so set to red-->
          <h2 ng-if="item.dueIn < 4 && item.status == 'PassedInspection' " style="color:red"><b>Due in {{item.dueIn}}
          days.</b></h2>

        <!--// between 3 and 15 day but has passed so set to green-->
        <h2 ng-if="item.dueIn > 3 && item.dueIn < 15 && item.status == 'PassedInspection' " style="color:green"><b>Due
          in {{item.dueIn}}
          days.</b></h2>

        <!--// not passed and 9 days until due date-->
        <h2 ng-if="item.dueIn < 10 && item.status != 'PassedInspection' " style="color:red"><b>Due in {{item.dueIn}}
          days.</b></h2>

        <!--// due in between 10 and 15 days and not passed-->
        <h2 ng-if="item.dueIn <= 15 && item.dueIn >= 10 && item.status != 'PassedInspection' " style="color:orange"><b>Due
          in {{item.dueIn}} days.</b></h2>

        <!--// rug not due for over 15 days-->
        <h2 ng-if="item.dueIn > 15" style="color:green"><b>Due in {{item.dueIn}}
          days.</b></h2>

        {{item.dueIn}}
        <p>{{item.description}}</p>
        <p>{{item.preDamage}}</p>
        <p ng-if="item.urine == 'true'"><b>has urine</b> {{item.length}}x{{item.width}} In: {{item.createdOn}}</p>
        <p ng-if="item.urine == 'false'"><b>no urine</b> {{item.length}}x{{item.width}} In : {{item.createdOn}}</p>
      </a>

    </ion-list>

    <button ng-click="logOut()" class="button button-clear button-positive">Logout</button>
  </ion-content>
</ion-view>
